<h1>Reactive Forms</h1>
<form [formGroup]="myform" class="student-form" (ngSubmit)="submit()">
    <div>
        <input formControlName="name" name="name" placeholder="Enter name" type="text">
    </div>
    <div>
        <input formControlName="email" name="email" placeholder="Enter Email" type="email">
    </div>
    <div>
        <input formControlName="password" name="password" placeholder="*******" type="password">
    </div>
    <div>
        <input formControlName="DOB" name="DOB" placeholder="enter DOB" type="date">
    </div>
    <div formArrayName="address">
        <div class="add1" *ngFor="let x of getAddressFormArray().controls; index as i">
            <input [formControlName]="i" name="address" placeholder="enter address" type="text">
            <button type="button" (click)="addForm()">add</button>
            <button type="button" (click)="removeForm(i)" style="width: 27%;">remove</button>
        </div>
    </div>
    <div>
        <button [disabled]="myform.invalid">submit {{myform.invalid}}</button>
    </div>
</form>