
<!-- <div class="container">
  <h1>use to worked ng-content</h1>
<div class="product-card">
  <app-lifecycle>
    <h4 class="product-heading">lorem-heading1</h4>
    <button class="btn product-btn">read me</button>
  </app-lifecycle>
  <app-lifecycle>
    <h4 class="product-heading">lorem-heading2</h4>
    <button class="btn product-btn">read me</button>
  </app-lifecycle>
  <app-lifecycle>
    <h4 class="product-heading">lorem-heading3</h4>
    <button class="btn product-btn">read me</button>
  </app-lifecycle>
</div>
</div> -->

<app-reactive-form></app-reactive-form>